# set base dir
SetEnv BASE_DIR /var/www/html/

#enable apache rewrite engine
RewriteEngine on

#set your rewrite base
RewriteBase /pages/

#Deliver the folder or file if it exists on the server directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]
