/********************************************************
 * This file belongs to the Badminton Ranking Project.  *
 *                                                      *
 * Copyright 2017                                       *
 *                                                      *
 * All Rights Reserved                                  *
 *                                                      *
 * Copying, distribution, usage in any form is not      *
 * allowed without written permit. Exemption to this    *
 * rule is given in the frame of using this file in the *
 * intended way of interacting with Badminton Ranking   *
 * as a regular user.                                   *
 *                                                      *
 * Philipp M. Fischer (fiphi@gmx.de)                    *
 *                                                      *
 ********************************************************/
 
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h3 {
    text-align: center;
    margin: 0px auto;
}

p {
    text-align: center;
}

/*
body>div {
    background-color: green;
    width: 90%;
    margin: 0 auto;
}*/

body>div, nav, header, footer {
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.20);
    background: #d3d7cf;
    background: linear-gradient(top, #d3d7cf 0%, #888a85 100%);
    background: -moz-linear-gradient(top, #d3d7cf 0%, #888a85 100%);
    background: -webkit-linear-gradient(top, #d3d7cf 0%, #888a85 100%);
    margin: 10px auto;
    padding: 0px 15px;
    width: 80%;
}

body>div.small {
    padding: 0px 15px;
}

hr {
    border-top: 1px solid #888a85;
    width: 98%;
}

div.justText p {
    text-align: justify;
}

footer p {
	text-align: right;
}


/*
----------------------------------------
 Styling of the login
 and logout dialogs
----------------------------------------
*/

input, label.radio {
	width: 100%;
    background-color: lightslategrey;
    color: white;
    padding: 10px 20px;
    margin: 8px 0px;
    border: 1px solid #555753;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

input[type="text"], input[type="password"] {
	background-color: white;
	color: black;
    border: 1px solid #888a85;
}

input[type="submit"] {
    background-color: lightslategrey;
    color: white;
}

input[type="submit"]:hover {
    background-color: #729fcf;
}

div#formUserLogout p {
	text-align: left;
	float:left;
    width: 60%;
}

div#formUserLogout input {
    float:right;
	padding: 8px 20px;
    width: 20%;    
}

div#formUserLogout form:after  {
    content: "";
    clear: both;
    display: block;
}

/*
----------------------------------------
 Styling the radio buttons in forms
----------------------------------------
*/
div.radioGroup {
	display: table;
	width: 90%;
	margin: 0 auto;	
	table-layout: fixed;
}

div.radioRow {
    display: table-row;    
}

div.radioCell {
	display: table-cell;	
}

label.radio {
	width: 99%;
}

input[type="radio"] {
	opacity 0;
    position: absolute;
    margin-left: -500%;
    padding: 0;
    display: none;
}

input[type="radio"]:focus~label.radio {
    border: 1px solid #729fcf;
}

input[type="radio"]:checked~label.radio {
    background-color: darkslategrey;
}

input[type="radio"]:not(checked)~label.radio {
    background-color: lightslategrey;
}

input[type="radio"]~label.radio:hover {
    background-color: #729fcf;
}

/*
----------------------------------------
 Styling of the tables
----------------------------------------
*/

table {
    width: 100%;
    border: 1px solid #555753;
    border-radius: 4px;
    border-spacing: 0px 0px;
}

table caption {
	margin: 0.4em;
}

table th {
	border-bottom: 1px solid #555753;
}

table td {
	padding-top: 0px;
	padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

table label.radio {
	width: 100%;
	text-align: center;
	padding: 0.1em;
	margin: 0px;
}

table tbody tr:nth-of-type(even) {
	background-color: grey;
}

table tbody tr:nth-of-type(odd) {
    background-color: lightgrey;
}

/*
----------------------------------------
 Styling of the navigation menu
----------------------------------------
*/
nav ul {
	list-style: none;
	margin: 0;
    padding: 0;
    position: relative;
    display: block;
    /*background: green;*/
}

nav ul:after  {
    content: "";
    clear: both;
    display: block;
}

nav ul ul {
    display: none;
}

nav ul li:hover>ul {
    display: block;
}

nav ul li {
    float: left;
}

nav ul li#rightFloat {
    float: right;
}

nav ul li:hover {
    background-color: #729fcf;
}

nav a {
    padding: 10px 40px;
    text-decoration: none;
    color: lightgrey;
}

nav ul li  {
	padding: 10px 0px;
    display: block;
    color: lightgrey;
    text-decoration: none;
}

nav ul ul {
    background: lightslategrey;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkslategrey;
    position: relative;
}

nav ul ul li a {
    padding: 15px 40px;
    color: lightgrey;
}